/* 페이지 순서
HTML: main > index > list > printphoto
CSS: main > index > list
JS: main > watch > list > printphoto */
/*  */
/* 1.QR코드 입력시 시작화면 CSS */

#outer {
    background-color: #ffffff;
    display: grid;
    margin: 40px;
    grid-template-rows: 200px 40px 40px 10px 40px 40px 40px 20px 40px;
    grid-template-areas: 
        "section-photo"
        "."
        "section-title"
        "."
        "section-subtitle"
        "."
        "section-button-next"
        "."
        "section-button-help"
    ;
}

#section-photo {
    grid-area: section-photo;
    background-image: url('image/main-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#section-title {
    grid-area: section-title;
    font-size: 30px;
    font-weight: 900;
}

#section-subtitle {
    grid-area: section-subtitle;
    font-size: 18px;
    font-weight: 500;
    color: #727272;
}

.btn-custom-large {
    width: 100%;
    font-size: 20px;
    padding: 15px 30px;
}

#section-button-next {
    grid-area: section-button-next;
}

#section-button-help {
    grid-area: section-button-help;
}

.modal-content {
    overflow-y: scroll;
}